{% extends 'admin_base.html' %}
{% load static %}
{% block content %}
<br>
{%include 'admin_dashboard_cards.html'%}
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>


<style>
    body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        background-image: url('https://www.shutterstock.com/image-photo/contact-us-help-centre-customer-600nw-2067798464.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }

    .container {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px whitesmoke;
    }

    .panel {
        margin-bottom: 20px;
        border: 1px solid whitesmoke;
        border-radius: 5px;
    }

    .panel-heading {
        color: #a4b2f7;
        padding: 10px;
        border-bottom: 1px solid #191717;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    th,
    td {
        border: 1px solid #1d1414;
        padding: 8px;
        text-align: left;
    }

    th {
        color: #b83c3c;
    }

    .btn {
        text-decoration: none;
        padding: 5px 10px;
        margin: 2px;
        border-radius: 3px;
        cursor: pointer;
    }

    .btn-primary {
        background-color: #335bb7;
        color: #fff;
    }

    .btn-danger {
        background-color: #d9534f;
        color: #fff;
    }

    img {
        max-width: 100px;
        height: auto;
    }

    h1 {
        color: black;
        text-align: center;
    }
</style>


</head>

<body>
    <div class="container">
        <div class="panel panel-p">
            <div class="panel-heading">
                <h1 class="panel-title">Customer Details</h1>
            </div>
            <table class="table table-hover" id="dev-table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Profile Pic</th>
                        <th>Address</th>
                        <th>Mobile</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for c in products %}
                {% if c %}

                <tr>
                    <td> {{c.name}}</td>
                    <td> <img src="{% static c.profile_pic.url %}" alt="Profile Pic" height="40px" width="40px" />
                    </td>
                    <td>{{c.Address}}</td>
                    <td>{{c.Mobile}}</td>
                    <td><a class="btn btn-primary btn-xs" href="{% url 'update-product' p.id  %}"><span
                                class="glyphicon glyphicon-edit"></span></a></td>
                    <td><a class="btn btn-danger btn-xs" href="{% url 'delete-product' p.id  %}"><span
                                class="glyphicon glyphicon-trash"></span></a></td>

                </tr>
                {%else%}
                <br><br><br>
                <h1>no products</h1>
                {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</body>

</html>




{% endblock content %}